body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#tweets
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .tweet
   margin 20px
   .title
    background-color #eee
   .body
    background-color #ffa
